[Unit]
Description=pricing_app_alternative 'Pricing bet exporter'
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/gits/vatagamambadiary
Environment="PATH=/root/gits/vatagamambadiary/venv/bin:$PATH"
ExecStart=/root/gits/vatagamambadiary/venv/bin/python /root/gits/vatagamambadiary/runner.py
RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target